{
    "WIREGUARD_CONFIGNAME": "CNCA",
    "WIREGUARD_DASHBOARD_URL": "http://127.0.0.1:10086",
    "WIREGUARD_DASHBOARD_APIKEY": "",
    "PORT": 41102,
    "SECRET": "",
    "EXTRA_TAG": {
        "4RpzKQf6iTcA0C+C/MfmOFFUd8jRRHTnKEr11111111=": "NoFullMesh"
    }
}