{
    "WIREGUARD_CONFIGNAME": "cnc",
    "WIREGUARD_DASHBOARD_URL": "http://127.0.0.1:10086",
    "WIREGUARD_DASHBOARD_APIKEY": "",
    "PORT": 41102,
    "SECRET": "1234tgh2198gb2uio4gnio23wnghoph32hg23wh3hb3nhb",
    "GLOBAL_DNS": true,
    "GLOBAL_SCRIPTS": {
        "PRE_UP": "echo EWPreUp!",
        "POST_UP": "echo EWPostUp!",
        "PRE_DOWN": "echo EWPreDown!",
        "POST_DOWN": "echo EWPostDown!"
    },
    "MESH_GROUPS": {
        "CNC_MAIN_MESH": [
            "111",
            "222"
        ]
    },
    "EXTRA_CONFIG": {
        "111": {
            "COMMENTS": "111",
            "ENDPOINT": "1.1.1.1:40399",
            "SCRIPTS": {
                "PRE_UP": "echo PeerPreUp!",
                "POST_UP": "echo PeerPostUp!",
                "PRE_DOWN": "echo PeerPreDown!",
                "POST_DOWN": "echo PeerPostDown!"
            }
        },
        "222": {
            "COMMENTS": "222",
            "ENDPOINT": "none"
        }
    }
}